.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.boom{
    width: 60%;
    background-color: #e9ecef;
    padding: 4rem;
    border-radius: .3rem;
    font-family: 'Lato';
    margin-top: 200px;
}

h2 {
    color: #212121;
}
.headerbar {
    padding: 10px;
    width: 100%;
    background-color:cornflowerblue;
}
.headerbar > span{
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    margin-left: 20px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
  }
  
  *:focus {
    outline: 0;
  }
  
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  :root {
      --bg-image: url('https://images.unsplash.com/3/www.madebyvadim.com.jpg?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1961&q=80');
      --gradient-header: linear-gradient(
                                             to right,
                                               rgba(102, 125, 182, 0.7),
                                               rgba(0, 130, 200, 0.6),
                                             rgba(0, 130, 200, 0.6),
                                               rgba(102, 125, 182, 0.8)
                                           );
  }
  
  body {
      background: var(--bg-image) #000000 40% / cover no-repeat fixed;
      min-height: 200vh;
  }
  
  header:before {
      background-color: rgba(0, 0, 0, 0.1);
      content: '';
      filter: blur(25px);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
  }
  
  header {
   
      align-items: center;
      background-image: var(--gradient-header);	
      display: flex;
      justify-content: center;
      left: 0;
      padding: 1rem;
      position: fixed;
      top: 0;
      width: 100%;
  }
  
  nav {
      width: 100%;
  }
  
  ul {
      list-style: none;
      display: flex;
  }
  
  li {
      display: flex;
  }
  
  li a:before {
      left: 0;
  }
  
  li a:before,
  li a:after {
      background-color: #dadada;
      border-radius: 0 10px 0 10px;
      bottom: 0;
      content: '';
      position: absolute;
      height: 3px;
      transition: width 0.5s ease-in-out;
      width: 0;
      z-index: -1;
  }
  
  li a:after {
      right: 0;
  }
  
  li a:hover:before,
  li a:focus:before,
  li a:active:before,
  li a:hover:after,
  li a:focus:after,
  li a:active:after {
      width: 55%;
  }
  
  li a {
      background-color: rgba(4, 10, 24, 0.4);
      border-radius: 0 10px 0 10px;
      color: #ffffff;
      cursor: pointer;
      font: 400 1.5rem 'Dancing Script', sans-serif;
      margin: 0 10px;
      overflow: hidden;
      padding: 0.5rem 1rem;
      position: relative;
      transition: text-shadow 0.25s 0.5s ease-in-out;
      text-decoration: none;
      text-shadow: 0 0 10px #000000;
      z-index: 2;
  }
  
  li a:hover,
  li a:focus,
  li a:active {
      text-shadow: 0 0 5px rgba(0, 130, 200, 0.9);
      transition: text-shadow 0.5s 0.25s ease-in-out;
  }
  .header{
      display: flex;
  
  }
  .headerLogo{
      font-family: 'Lobster', cursive;
      font-size: 4rem;
      margin-left: 20px;
      color: white;
      text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
      font-size: 2rem;
       cursor: pointer;
  }
  