<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css /> -->
<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Contract <span>List</span></h4>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                            <div class="btn_group">
                                <input type="text" class="form-control" placeholder="Search">
                                <button class="btn btn-default" (click)='movetocontract()'title="Reload">Add Contract</button>
                                <button class="btn btn-default" (click)='movetohome()'title="Reload">Home</button>
                                <button class="btn btn-default" (click)='movetodash()'title="Reload">DashBoard</button>
                     
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="panel-body table-responsive">
                    <table class="table" id="example" class="table table-striped table-bordered table-sm row-border hover">
                        <thead>
                            <tr>
                              <th>Number Of Contract</th>
                              <th >Type</th>
                              <th >Date</th>
                              <th >Price</th>
                              <th>Seller</th>
                              <th>Buyer</th>
                              <th>Property</th>
                              <th>Taxe</th>
                              <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                           
            <tr *ngFor="let contract of contracts | async">
            <td>{{contract.id}}</td>                 
            <td>{{contract.type}}</td>
            <td>{{contract.date}}</td>
            <td>{{contract.price}}</td>
            <td>{{contract.seller}}</td>
            <td>{{contract.buyer}}</td>
            <td>{{contract.proprety}}</td>
            <td>{{contract.taxe}}</td> 
            
             <!-- <tr>
            <td>89563</td>
            <td>Buy</td>
            <td>02-12-2022</td>
            <td>56848</td>
            <td>Fatima</td>
            <td>Tlemzi</td>
            <td>Maison</td>
            <td>4564</td> -->
            
            <td>
              <ul class="action-list">
                  <li> <button class="btn btn-outline-primary me-2 mb-1"  
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)='updateContract(id)'
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </button>
                    <button class="btn btn-outline-danger me-2 mb-1" (click)='deleteContract(id)' 
                    
                    >
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </button> 
                   </li>
                  <li><a href="#" data-tip="delete"><i class="fa fa-trash"></i></a></li>
              </ul>
          </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col col-sm-6 col-xs-6">Go to <b>Clients List</b></div>
                        <div class="col-sm-6 col-xs-6">
                          <!-- <mat-paginator [pageSizeOptions]="[2, 5, 20]"
                          showFirstLastButtons 
                          #paginator 
                          aria-label="Select page of periodic elements">
                          </mat-paginator>  -->
                            <ul class="pagination visible-xs pull-right">
                                
                                <li><a routerLink="/clients">></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  